@media (min-width: 520px) and (max-width: 900px) {
  nav.navbar-container {
    height: auto;
  }

  header.header-container {
    height: 349px;
  }

  header.header-container-shark {
    height: 349px;
  }
  header.header-container-island {
    height: 349px;
  }
  header.header-container-malecon {
    height: 349px;
  }
  header.header-container-balandra {
    height: 349px;
  }
  p.text-box-shark {
    font-size: 16px;
  }

  h1.Header-title {
    font-size: 32px;
  }

  h2.header-subtitle {
    font-size: 16px;
  }

  .navbar-container a {
    font-size: 32px;
  }

  .navbar-container li a {
    font-size: 22px;
  }

  p.subtitle-main {
    font-size: 15px;
  }

  p.text-longer {
    font-size: 15px;
  }

  footer.footer-container {
    height: auto;
  }

  h3.text-h3 {
    font-size: 12px;
  }

  div.image-footer {
    font-style: 38px;
  }

  img.icon-footer {
    height: 36px;
  }
}
