.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 76px;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(39, 101, 221, 0.7259278711484594) 0%,
    rgba(214, 218, 249, 0.2637429971988795) 100%
  );
  position: fixed;
  padding: 0 32px;
  width: 100%;
  left: 0;
  top: 0;
  box-sizing: border-box;
}

.navbar-options-container {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  align-items: center;
  list-style: none;
}

.navbar-title {
  font-size: 40px;
  color: white;
  text-decoration: none;
}

.navbar-link {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: center;
  height: 467px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
}

$headerContainers: (
  shark: "../assets/banner\ 2.jpg",
  island: "../assets/banner\,isla.jpg",
  balandra: "../assets/balandra\ banner.jpg",
  malecon: "../assets/malecon\ banner.jpg",
);

@each $key, $value in $headerContainers {
  .header-container-#{$key} {
    display: flex;
    justify-content: center;
    height: 467px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("#{$value}");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
  }
}

.header-title-container {
  display: flex;
  flex-direction: column;
}

.header-subtitle {
  color: white;
  font-size: 22px;
}

.Header-title {
  color: white;
  font-size: 44px;
}
